/** section:not(section.display) {
  display: none;
} **/

/*original*/
/*.recipes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 16rem));
  grid-gap: 4.3rem;
  justify-content: center;
}*/

.recipes-wrapper > card-carousel {
  display: grid;
  grid-template-columns: repeat(3, minmax(12rem, 16rem));
  grid-gap: 4.3rem;
  justify-content: center;
}

.hidden {
  display: none;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  border: 2px;
  padding: 15px;
  margin: 2rem;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

article:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

p.title {
  font-family: Century Gothic, Candara, serif;
  overflow: hidden;
  font-size: 23px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

p.title:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #a8a7a7;
}

p.recipeTag {
  color: #f54254;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

div.rating-time {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
}

div.rating-time img.rating {
  display: inline-block;
  object-fit: scale-down;
  width: 100px;
  margin-right: 3rem;
}

div.rating-time img.time {
  object-fit: scale-down;
  width: 20px;
  margin-right: 0.3rem;
}


