* {
  margin: 0;
  padding: 0;
  font-family: Didot;
}

body {
  width: 100vw;
}

nav {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
}

ul {
  list-style-type: none;
  /** text-align: center;**/
  width: 30rem;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.55rem;
  display: inline-block;
}

ul li ul {
  background: #3b3838;
  visibility: hidden;
  opacity: 0;
  margin-top: 0.5rem;
  position: absolute;
  display: none;
  width: 13rem;
  cursor: pointer;
}

ul li ul li {
  width: 11.9rem;
  /** box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; **/
}

ul li ul li:hover {
  background-color: grey;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  text-decoration: 3px underline #f55442;
}

nav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  text-decoration: 3px underline #f55442;
}

.hero {
  /*size the hero section */
  width: 100vw;
  height: 70vh;

  /* flex */
  display: flex;
  align-items: center;
  text-align: left;
  background-image: url(images/pexels-ray-piedra-1565982.jpg);
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 4.5em;
  margin-bottom: 0.7em;
  color: white;
  margin-left: 2em;
}

.hero h2 {
  font-size: 1.8em;
  color: #f5ebc9;
  margin-left: 5em;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  background-color: #3b3838;
}

.search-box {
  display: flex;
  margin-top: 15px;
  max-width: 240px;
  height: 40px;
  background: white;
  border-radius: 40px;
}

.search-box input {
  padding: 15px;
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  background: white;
  font-size: 16px;
}

#icon {
  background: #3b3838;
  color: white;
  width: 43px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

#icon:hover {
  transform: scale(1.07);
  transition: all 0.3s ease-out;
}

#icon i {
  padding: 6.5px;
  transition: 0.3s;
}

.section-recipes-display h1 {
  display: flex;
  width: 450px;
  font-size: 1.8em;
  color: #402a26;
  text-decoration: 3px underline #ffcb3d;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 1rem;
}

.section-recipes-display h1:hover {
  color: #2e4d15;
  text-decoration: 3px underline #f55442;
  cursor: pointer;
}

.section-recipes-display h1 i {
  float: right;
  cursor: pointer;
  margin: 5px;
  height: 45px;
  width: 45px;
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

footer {
  background-color: #3b3838;
  width: 100%;
  height: 250px;
  margin-top: 60px;
}
